body
{
  color: white;
  background: #b862629a;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(216, 186, 157);
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size:18px;
  border-radius:10px;
  letter-spacing:10px;
}
label{
  font-size:14px;
  color:rgb(255, 255, 255);
  padding:6px;
  border-radius:10px;
  background-color: rgba(241, 136, 190, 0.638);
}